#menu{
	height: 48px; 
	width: 100%;
	background-color: green
}
#menu li{
	
}
#menu li:hover{
	background-color:orange
}
#menu ul ul{
	margin:0px;
	padding:0px;
	list-style:none;
	display:none;
}

#menu ul li{
	position:relative;
}
#menu li:hover ul{
	display:block;
	z-index:999;
	background-color:white;
	position:absolute;
	top: 48px;
	left: 0px;
}
#menu li li{
	line-height:36px;
	width:180px;
	border-bottom:1px solid #CCC;
}
#menu li li a{
	display:block;
	line-height:36px;
	padding-left:15px;
	text-decoration:none;
	color:#333;
}
#menu li li a:hover{
	color:#FFF;
}
#sidebar li:hover{
	background-color:orange
}
#sidebar  ul ul{
	margin:0px;
	padding:0px;
	list-style:none;
	display:none;
}

#sidebar  ul li{
	position:relative;
}
#sidebar  li:hover ul{
	display:block;
	z-index:999;
	background-color:white;
	position:absolute;
	top: 0px;
	left: 245px;
}
#sidebar  li li{
	line-height:36px;
	width:300px;
	border-bottom:1px solid #CCC;
}
#sidebar  li li a{
	display:block;
	line-height:36px;
	padding-left:15px;
	text-decoration:none;
	color:#333;
}
#sidebar  li li a:hover{
	color:#FFF;
}