body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(Nen.png);
    background-size: cover;
}
#Main{
    background-image: url(Nen2.png);
    background-size: cover;
    background-color: aqua;
    margin: 100px 250px 150px 250px;
    height: 250px;
    width: 1000px;
    padding: 10px;
}
#Main h1{
    margin: 5px 0px 5px 370px;
}
#Tuoi, #Tinh, #Ketqua{
    margin: 10px 0px 10px 140px;
}
#Tinh, #Kolamgi, #KoTinh{ 
    border-radius: 10px;
    height: 50px;
    background-color: aquamarine;
    width: 233px;
    font-size: large;
    font-weight: bolder;
}
#Tuoi{
    border-radius: 10px;
    height: 30px;
    width:700px ;
}
#main2{
    background-image: url(nen3.png);
    background-size: cover;
    background-color: aqua;
    margin: 100px 250px 150px 250px;
    height: 550px;
    width: 1000px;
    padding: 10px;
}
#nhanloichuc{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: aquamarine;
    height: 50px;
    width: 190px;
    font-size: large;
    font-weight: bolder;
}
#lloichuc{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 330px;
    margin-right: 30px;
    
}
#yt{
    visibility: hidden;
    margin-left: 225px;
    margin-right: 30px;
    width:560px;
    height:315px;
}
@media screen and (max-width: 768px) {
    body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(Nen.png);
    background-size: contain;
}
#Main{
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(Nen2.png);
    background-size: cover;
    height: 25%;
    width: 100%;
    padding: 10px;
}
#Main h1, #Ketqua{
    margin: 5px 0px 5px 20px;
}
#Tuoi {
    margin-left: 20px;
    height: 100%;
    width: 80%;
    border-radius: 10px;
}
#Tinh, #Kolamgi, #KoTinh{ 
    margin-left: 0px;
    border-radius: 10px;
    height: 25%;
    background-color: red;
    width: 30%;
    font-size: smaller;
    font-weight: bolder;
}
#main2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    background-image: url(nen3.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 10px;
}
#nhanloichuc{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 0px;
    border-radius: 10px;
    background-color: aquamarine;
    height: 50px;
    width: 190px;
    font-size: large;
    font-weight: bolder;
}
#lloichuc{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
}
#yt{
    visibility: hidden;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
    height:50%;
}
}
